* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}

.panel {
  background-color: #003366; 
}
html {
  min-height: 100%;
  position: relative;
}

body {
	margin-top: 70px;
  	height: 100%;
  	padding-bottom: 50px;
    background-color: black;
    color: lightblue;
}
#myTable{
  background-color: #006666;
}

footer p{
	text-align: center;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  text-align: center;
}


p:not(#footer){
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}

h2{
	margin-left: 20px;
}
