{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="{% static 'css/lab_4.css' %}" rel="stylesheet">


  

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<body style="background-image: url(https://wallpapercave.com/wp/PLfMD50.jpg)">
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container col-md-12">
            <img src="https://0.academia-photos.com/22671060/6165818/6987836/s200_kezia_irene.tesiman.jpg_oh_6c416e6db6c808e5087a71965d1a881a_oe_54ffe395___gda___1426160583_a83ba5be6321a5da3e15978004b85cb7" class="img-circle" widht="200" height="200">
        </div>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
