<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<title>Kezia Irene's Resume</title>
<link rel="icon" 
      type="image/png" 
      href="https://drive.google.com/uc?id=1OWjQCXXLusTMOaqYj21O9iCRkSUCqoke">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Resume" />
<!-- css -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="../../static/css/font-awesome.min.css" />
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="../../static/css/bootstrap.min.css" type="text/css" media="all" />
<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="../../static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->

</head>
<body>
<!-- banner -->
	<div class="w3-banner-top">
	<div class="agileinfo-dot">
			<div class="w3layouts_menu">
				<nav class="cd-stretchy-nav edit-content">
					<a class="cd-nav-trigger" href="#0"> Menu <span aria-hidden="true"></span> </a>
					<ul>
						<li><a href="#home" class="scroll"><span>Home</span></a></li>
						<li><a href="#about" class="scroll"><span>About</span></a></li>
						<li><a href="#experiences" class="scroll"><span>Experiences</span></a></li>
						<li><a href="#skills" class="scroll"><span>Skills</span></a></li> 
						<li><a href="#projects" class="scroll"><span>Gallery</span></a></li>
					</ul> 
					<span aria-hidden="true" class="stretchy-nav-bg"></span>
				</nav> 
			</div>

		<div class="w3-banner-grids">
			<div class="col-md-6 w3-banner-grid-left">
				<div class="w3-banner-img">
					<img src="https://drive.google.com/uc?id=1EGPcc3AtWSE0fbBepcvNJ2slGXkU7ebi" alt="img">
					<h3 class="test">Kezia Irene</h3>
					<p class="test" >Computer Science Student</p>
				</div>
			</div>
			<div class="col-md-6 w3-banner-grid-right">
			<div class="w3-banner-text">
				<h3>Hi! I am Kezia :)</h3>
				<p>I have been studying Computer Science at University of Indonesia since September 2016. I really enjoy music, I've been studying piano, violin, flute, musical composition, and film scoring since 2005. I also have been developing skill at business plan and business case.</p>
			</div>
				<div class=" w3-right-addres-1">
				<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li class="agile-it-adress-left"><b>D.O.B</b></li>
										<li><span>:</span>15-10-1998</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>PHONE</b></li>
										<li><span>:</span>(+62) 815 1455 7355</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>ADDRESS</b></li>
										<li><span>:</span>Jakarta, Indonesia</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>E-MAIL</b></li>
										<li><span>:</span><a href="mailto:irenekezia98@gmail.com"> irenekezia98@gmail.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li class="agile-it-adress-left"><b>WEBSITE</b></li>
										<li><span>:</span><a href="#">www.keziatesiman.herokuapp.com</a></li>
									</ul>
								</li>
							</ul> 

				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
		<div class="thim-click-to-bottom">
				<a href="#about" class="scroll">
					<i class="fa  fa-chevron-down"></i>
				</a>
			</div>

	</div>
<!-- banner -->
<!-- /about -->

<div class="w3-about" id="about">
	<div class="container">
		<div class="w3-about-head">
			<h3>About Kezia</h3>
		</div>
		<div class="w3-about-grids">
		<div class=" w3-about-grids1">
				<div class="col-md-6 w3-about-grid-left1">
					<img src="https://drive.google.com/uc?id=1gM-XcevxCdit82tV5sPDCBZkjC-RZn4u" alt="img1">
		
				</div>
				<div class="col-md-6 w3-about-grid-right1">
					<h3>Computer Science and Music</h3>
					<p> Kezia is an undergraduate student who has been studying Computer
                        Science at University of Indonesia since September 2016. Kezia also has
                        been mastering piano, violin, flute, musical composition, and film
                        scoring since 2005 and has won several awards.
                        </p>
					<h5>Projects I had been working on</h5>
					<div class= "w3-about-grid-small-border">
					<div class="col-md-4 w3-about-grid-small">
						<h3 class="w3-head-project">5</h3>
						<h5>web projects</h5>
					</div>
					<div class="col-md-4 w3-about-grid-small">
					<h3 class="w3-head-project">4</h3>
						<h5>python projects</h5>
					</div>
					<div class="col-md-4 w3-about-grid-small">
						<h3 class="w3-head-project">8</h3>
						<h5>java projects</h5>
						<div class="clearfix"></div>
					</div>
				<div class="clearfix"></div>
				</div>
				</div>
				<div class="clearfix"></div>
				<div class="w3-about-grids2">
				<div class="col-md-6 w3-about-grid-left2">
					<h3>Other things I have done</h3>
					<p> Being a Concert Mistress at Mahawaditra Orchestra has trained Kezia's leadership skills.
                        She also has been developing skill at business plan and business case
                        by joining and winning business competitions and organizations.</p>
					<h4><a href="https://drive.google.com/open?id=16hpk-ydri1LbNc82CnZwTvagdjp4gNuJ">CV</a></h4>
		
				</div>
				<div class="col-md-6 w3-about-grid-right2">
				<img src="https://drive.google.com/uc?id=1uuX8upnFzlVQI3nZGiaNl9PzikgIWCfv" alt="img1">
		
				</div>
				<div class="clearfix"></div>
				</div>
		</div>
	</div>
</div>
</div>
<!-- //about  -->
<!--/ education -->
	<div class="w3-edu-top" id="experiences">
	<div class="container">
		<div class="w3-edu-grids">
			<div class="col-md-6 w3-edu-grid-left">
				<div class="w3-edu-grid-header">
				<h3>Experiences</h3>
				</div>
				<div class="col-md-4 w3-edu-info1">
					<h3>2018</h3>
					<h4>Front End Developer Intern</h4>
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>Quantum Tera Network</h3>
					<h4><i class="fa fa-code" aria-hidden="true"></i><span>Programmer</span></h4>
					<p>Develop front end web page for Quantum Tera Network by making
                        interface with HTML 5, Javascript, and CSS </p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4 w3-edu-info1">
			<h3>2017</h3>
					<h4>Discrete Mathematics Teaching Assistant</h4>
					
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>Faculty of Computer Science University of Indonesia</h3>
					<h4><i class="fa fa-laptop" aria-hidden="true"></i><span>teaching assistant</span></h4>
					<p>Help lecturers with record keeping, such as tracking attendance and
                        calculating grades,
                         assist students in class to have better understanding on the lesson, 
                        grade and record scores on homework and tests</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-4 w3-edu-info1">
			<h3>2017</h3>
					<h4>Concert Mistress</h4>
					
			</div>
			<div class="col-md-6 w3-edu-info2">
				<h3>Mahawaditra Orchestra</h3>
					<h4><i class="fa fa-music" aria-hidden="true"></i><span>team leader</span></h4>
					<p>Acts as the conduit between conductor and orchestra. 
                        Responsible for the tone and execution of the entire section of 1st violins, 
                        translate instructions from the conductor into specific technical language
                        for the strings</p>
			
            </div>
            <div class="col-md-4 w3-edu-info1">
                <h3>2018</h3>
                        <h4>Head of Bibliography</h4>
                        
                </div>
                <div class="col-md-6 w3-edu-info2">
                    <h3>Mahawaditra Orchestra</h3>
                        <h4><i class="fa fa-music" aria-hidden="true"></i><span>team leader</span></h4>
                        <p>Provide scores for training and performance of Mahawaditra Orchestra, 
                            Archieve and maintain the music-related scores and books in
                            Mahawaditra Orchestra</p>
                
                </div>
                <div class="col-md-4 w3-edu-info1">
                    <h3>2018</h3>
                            <h4>Violin Tutor</h4>
                            
                    </div>
                    <div class="col-md-6 w3-edu-info2">
                        <h3>Mahawaditra Orchestra</h3>
                            <h4><i class="fa fa-music" aria-hidden="true"></i><span>tutor</span></h4>
                            <p>Schedule tutoring appointments with violin students, 
                                Monitor performance and assist violin students, 
                                Organize tutoring environment to promote productivity and learning</p>
                    
                    </div>
                    <div class="col-md-4 w3-edu-info1">
                        <h3>2017</h3>
                                <h4>Member of Consulting Club</h4>
                                
                        </div>
                        <div class="col-md-6 w3-edu-info2">
                            <h3>System and Information Technology</h3>
                                <h4><i class="fa fa-users" aria-hidden="true"></i><span>business IT analyst</span></h4>
                                <p>Prepare professional skills consulting workshops, 
                                    Help to prepare business case competition, 
                                    Held weekly meeting discussing and presenting business cases</p>
                        
                        </div>
			<div class="clearfix"></div>		
			</div>
			<div class="col-md-6 w3-edu-grid-right">
			<div class="w3-edu-grid-header">
			<h3>Education</h3>
			</div>
				<div class="col-md-3 w3-edu-info-right1">
					<h3>2016</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>University of Indonesia</h3>
					<h4>Computer science</h4>
					<p>Kezia has been pursuing a Computer Science Bachelor degree since 2016. She has a cumulative GPA of 3.90. Kezia is also active in many organizations, such as Mahawaditra Symphony Orchestra, System and Information Technology, and Asciipela. Committees such as Open House 2017, Leader's election (PEMIRA), and Peristeri Concert. 
                        Kezia is also active on teaching and guiding people by being a teaching assistant at faculty of computer science and mentor for new students at orientation (OKK) 2017.
                    </p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-3 w3-edu-info-right1">
				<h3>2013</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>SMAK 3 Penabur Jakarta</h3>
					<h4>Science and Mathametics </h4>
					<p>Kezia got a 4th rank and had been active on many different activity such as music band, musical poet competition, mandarin club, and theatre club. 
                        She also had joined the scout team and red cross team</p>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-3 w3-edu-info-right1">
				<h3>2013</h3>
			</div>
			<div class="col-md-9 w3-edu-info-right2">
				<h3>Sekolah Musik Yayasan Pendidikan Musik</h3>
					<h4>Piano Performance </h4>
					<p>Kezia was accepted to YPM Music School at grade 5, studying piano performance. Since then, Kezia has gotten several achievments for her performances, such as:
						Award for most outstanding performance, Award for Achievement, Award for Musical Playing in Performance, Award for Theory and Solfegio, and Award for Musical Temperament in Performance.
					Kezia is now preparing for her pre-conservatory 3 piano recital examination.</p>
			</div>

			<div class="col-md-3 w3-edu-info-right1">
					<h3>2010</h3>
				</div>
				<div class="col-md-9 w3-edu-info-right2">
					<h3>Sekolah Musik Gloriamus</h3>
						<h4>Violin Performance </h4>
						<p>Kezia was accepted to Gloriamus Music School at grade 3, studying violin performance. Since then, Kezia has gotten the first rank at her grade exams at grade 3,4, and 5.
							She also has performed on several occasion, such as the grand openning of Gloriamus Daan Mogot, Messiah Concert 2, and Gloriamus Summer Festival Concert.  </p>
				</div>

			<div class="clearfix"></div>		
		</div>
		<div class="clearfix"></div>	
	</div>
	</div>
	</div>
<!-- //education -->
<!-- skills -->
<div class="skills" id="skills">
	<div class="container">
	<div class="title-w3ls">
		<h4>Kezia's Skills</h4>
		</div>
		<div class="skills-bar">
		<div class="col-md-6 w3-agile-skills-grid">
			<section class='bar'>
				<section class='wrap'>
					<div class='wrap_right'>
					  <div class='bar_group'>
						<div class='bar_group__bar thin' label='Python' show_values='true' tooltip='true' value='500'></div>
						<div class='bar_group__bar thin' label='Java' show_values='true' tooltip='true' value='600'></div>
						<div class='bar_group__bar thin' label='HTML' show_values='true' tooltip='true' value='400'></div>
						<div class='bar_group__bar thin' label='CSS' show_values='true' tooltip='true' value='456'></div>
						<div class='bar_group__bar thin' label='JavaScript' show_values='true' tooltip='true' value='400'></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</section>
			</section>
		</div>
		<div class="col-md-6 w3-agile-skills-grid">
			<section class='bar'>
				<section class='wrap'>
					<div class='wrap_right'>
					  <div class='bar_group'>
                        <div class='bar_group__bar thin' label='AJAX' show_values='true' tooltip='true' value='300'></div>
                        <div class='bar_group__bar thin' label='JQuery' show_values='true' tooltip='true' value='200'></div>
						<div class='bar_group__bar thin' label='Piano' show_values='true' tooltip='true' value='600'></div>
						<div class='bar_group__bar thin' label='Violin' show_values='true' tooltip='true' value='550'></div>
						<div class='bar_group__bar thin' label='Flute' show_values='true' tooltip='true' value='500'></div>
						
						</div>
					</div>
					<div class="clearfix"></div>
				</section>
			</section>
		</div>
		<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //skills -->

<!-- main-content -->
	<div class="main-content">
		<!-- gallery -->
	<div class="gallery" id="projects">
		<div class="w3-gallery-head">
			<h3>Kezia's Gallery</h3>
		</div>
	<div class="container">
		<div class="gallery_gds">
			<ul class="simplefilter ">
                <li class="active" data-filter="all">All</li>
                <li data-filter="1">Orchestra</li>
                <li data-filter="2">Violin</li>
                <li data-filter="3">Others</li>
            </ul>   
            <div class="filtr-container " style="padding: 0px; position: relative; height: 858px;">
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1, 5" data-sort="Busy streets" style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="https://drive.google.com/uc?id=1_bbaWFTYce16Ft_QyU77b1CGR-U3DHWq" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal1">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="2, 5" data-sort="Luminous night" style="opacity: 1; transform: scale(1) translate3d(380px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="https://drive.google.com/uc?id=1PEHri88pwZJpRT5qURKWMOZNinzV7kl6" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal2">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1, 4" data-sort="City wonders" style="opacity: 1; transform: scale(1) translate3d(760px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="https://drive.google.com/uc?id=17EdGG5zoXOw8QiSeZDi2Q5g3vF4gx7qk" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal3">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1, 3" data-sort="In production" style="opacity: 1; transform: scale(1) translate3d(0px, 286px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="https://drive.google.com/uc?id=1hgFhZfwzgfMKJXGsLly2zu-uswOjOpf1" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal4">View Details</a></div>
						</div>	
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="3, 4" data-sort="Industrial site" style="opacity: 1; transform: scale(1) translate3d(380px, 286px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="https://drive.google.com/uc?id=1qYLzx97suYZqr4F5Ior2V2qGfu49a0q6" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal5">View Details</a></div>
						</div>	
					</div>
				</div>
				<div class="filtr-container " style="padding: 0px; position: relative; height: 858px;">
						<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1, 5" data-sort="Busy streets" style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
							<div class="jm-item-wrapper">
								<div class="jm-item-image">
									<img src="https://drive.google.com/uc?id=1MVw7kO9hlwrAtGKvjE50JIFidb_Rl7cz" alt="property" />
									<span class="jm-item-overlay"> </span>
									<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal6">View Details</a></div>
								</div>	
								
							</div>
						</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1, 3" data-sort="City lights" style="opacity: 1; transform: scale(1) translate3d(0px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="https://drive.google.com/uc?id=1SsvSFlrTemfJUpyRun-7FQHdYPUEMerv" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal7">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="2, 4" data-sort="Dreamhouse" style="opacity: 1; transform: scale(1) translate3d(380px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="https://drive.google.com/uc?id=1Pssq_qbO1Z7-p3sGDwlwrB90iYFDK6CF" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal8">View Details</a></div>
						</div>	
						
					</div>
				</div>
				<div class="col-md-4 col-ms-6 jm-item first filtr-item" data-category="1, 3, 4" data-sort="Dreamhouse" style="opacity: 1; transform: scale(1) translate3d(760px, 572px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms;">
					<div class="jm-item-wrapper">
						<div class="jm-item-image">
							<img src="https://drive.google.com/uc?id=1W6K_6fZF2S_h8U9obgW8wLfUSIEh1Jyy" alt="property" />
							<span class="jm-item-overlay"> </span>
							<div class="jm-item-button"><a href="#"  data-toggle="modal" data-target="#myModal9">View Details</a></div>
						</div>	
						
					</div>
				</div>
               <div class="clearfix"> </div>
            </div>
		</div>
	</div>	
	</div>
	<!--//gallery-->
	</div>
<!-- //main-content -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class="w3ls-property-images w3-pop1-img">
							</div>
					
						<div class="ins-details">
							<div class="ins-name">
								<h3>voluptatem accusantium doloremque</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>
					 
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class="w3ls-property-images">
								<img src="https://drive.google.com/uc?id=1_bbaWFTYce16Ft_QyU77b1CGR-U3DHWq" alt="image">
							</div>
					
						<div class="ins-details">
							<div class="ins-name">
								<h3>Masterclass with Siero Orchestra from Spain</h3>
								<p>I participated on a masterclass with Siero orchestra in July 2017. It was such an amazing experience for me, meeting a great orchestra and being taught how to be a better musician.
								</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>
					 
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class=" w3ls-property-images w3-pop1-img2">
							<img src="https://drive.google.com/uc?id=1PEHri88pwZJpRT5qURKWMOZNinzV7kl6" alt="image">
							</div>
					
						<div class=" ins-details">
							<div class="ins-name">
								<h3>High Scorer Concert 2017</h3>
								
								<p>I got a high distinction score for my grade 8 ABRSM Violin Exam. So, I was able to participate on this concert. I played Haydn, Allegro Moderato: first movement form Concerto in G, Hob VII/4</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>
					 
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class="w3ls-property-images w3-pop1-img3">
							<img src="https://drive.google.com/uc?id=17EdGG5zoXOw8QiSeZDi2Q5g3vF4gx7qk" alt="image">
							</div>
					
						<div class="ins-details">
							<div class="ins-name">
								<h3>Playing at Universitas Indonesia 68th Dies Natalis</h3>
								
								<p>Playing at 68th Dies Natalis was such an amazing experience for me, because I got to meet the 7th president of Indonesia, Joko Widodo.</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>
					 
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class=" w3ls-property-images w3-pop1-img4">
							<img src="https://drive.google.com/uc?id=1hgFhZfwzgfMKJXGsLly2zu-uswOjOpf1" alt="image">
							</div>
					
						<div class=" ins-details">
							<div class="ins-name">
								<h3>Piano Performance at Goethe Haus, Jakarta</h3>
								
								<p>It was such an honor for me that I had a chance to perform in such amazing hall. I performed Bach-Gounod, Ave Maria and Chopin, Etude opus 10 no. 5.</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>
					 
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class=" w3ls-property-images w3-pop1-img5">
							<img src="https://drive.google.com/uc?id=1qYLzx97suYZqr4F5Ior2V2qGfu49a0q6" alt="image">
							</div>
					
						<div class=" ins-details">
							<div class="ins-name">
								<h3>Perform Gamelan at Amir Pasaribu Concert Hall</h3>
								
								<p>It was such an amazing experience for me to be able to learn to play Balinesse Gamelan with world experts: Bapak Nyoman Weja, Bapak I Gusti Kompyang Raka, and Bapak Komang.</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>
					 
	<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" >
			<div class="modal-dialog">
						<!-- Modal content-->
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<div class="w3ls-property-images">
							<img src="https://drive.google.com/uc?id=1MVw7kO9hlwrAtGKvjE50JIFidb_Rl7cz" alt="image">
						</div>
				
					<div class="ins-details">
						<div class="ins-name">
							<h3>Masterclass with Dr Michael Hall</h3>
							<p>I participated on a masterclass with World Class Violist Dr Michael Hall in September 2017. It was such an amazing experience for me, meeting a world class musician and being taught how to be a better performer.
							</p>
							
						</div>
						
					</div>
					<div class="clearfix"></div>			
			 </div>
</div>
									  
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class=" w3ls-property-images w3-pop1-img7">
								<img src="https://drive.google.com/uc?id=1SsvSFlrTemfJUpyRun-7FQHdYPUEMerv" alt="image">
							</div>
					
						<div class="ins-details">
							<div class="ins-name">
								<h3>Flute Preformance at GKI Samanhudi</h3>
								
								<p>I performed Leroy Anderson, Sleigh Ride arranged for flute with my friends and my flute teacher: Ko Agus, Gabriella, Tasya, Lisa, Kak Mutia, and Angel</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class=" w3ls-property-images w3-pop1-img8">
								<img src="https://drive.google.com/uc?id=1Pssq_qbO1Z7-p3sGDwlwrB90iYFDK6CF" alt="image">
							</div>
					
						<div class=" ins-details">
							<div class="ins-name">
								<h3>Solo performace at Makara Art Centrum, Universitas Indonesia</h3>
								
								<p>It was an honor for me to perform one of Indonesia's national anthem, Indonesia Pusaka, on a grand opening concert at Makara Art Centrum.</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" >
				<div class="modal-dialog">
							<!-- Modal content-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class=" w3ls-property-images w3-pop1-img9">
							<img src="https://drive.google.com/uc?id=1W6K_6fZF2S_h8U9obgW8wLfUSIEh1Jyy" alt="image">
							</div>
					
						<div class="ins-details">
							<div class="ins-name">
								<h3>Koala at the Lone Pine Koala Sanctuary, Australia</h3>
								
								<p>Koalas are so cute. I really like koalas. If you don't like koalas, maybe you should try to go to a zoo and hold them. I guarantee you will like them :)</p>
								
							</div>
							
						</div>
						<div class="clearfix"></div>			
			     </div>
	</div>				 					
 <script src="../../static/js/jquery.filterizr.js"></script>
    
    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>

<!-- footer -->
	<div class="w3l_footer">
		<div class="container">
			
			<div class="w3ls_footer_grids">
				
				<div class="w3ls_footer_grid">
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Location</h4>
							<p>Jakarta, Indonesia</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Email</h4>
							<a href="mailto:irenekezia98@gmail.com">irenekezia98@gmail.com</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Call Me</h4>
							<p>(+62) 815 1455 7355</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="w3l_footer_pos">
			<p>© 2017 Design by <a href="https://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
<!-- //footer -->
<script src="../../static/js/bars.js"></script>
<!-- start-smoth-scrolling -->
<script src="../../static/js/SmoothScroll.min.js"></script>
<!-- text-effect -->
		<script type="text/javascript" src="../../static/js/jquery.transit.js"></script> 
		<script type="text/javascript" src="../../static/js/jquery.textFx.js"></script> 
		<script type="text/javascript">
			$(document).ready(function() {
					$('.test').textFx({
						type: 'fadeIn',
						iChar: 100,
						iAnim: 1000
					});
			});
		</script>
<!-- //text-effect -->
<!-- menu-js --> 	
	<script src="../../static/js/modernizr.js"></script>	
	<script src="../../static/js/menu.js"></script>
<!-- //menu-js --> 	


<script type="text/javascript" src="../../static/js/move-top.js"></script>

<script type="text/javascript" src="../../static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>


</body>
</html>